.container .table,th,td{
	border: 1px solid black;
	padding: 15px;
}

.container{
	font-family: "Times New Roman", Times, serif;
	font-size:18;
}

.container .row{
	margin-right: 0px;
	margin-bottom: 20px;
}

.jumbotron-fluid{
	background-image: url('https://cdnmedia.starcertification.org/Content/Images/Banner/New/SRX.png');
	background-size: cover;
}

.container .img{
	border: black;
}